# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# OS specific
.DS_Store
*.swp
*.swo

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Temporary files
tmp/
temp/